.grid-responsive-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, miniax(150px, 1fr));
    gap: 10px;
    background-color: blue;
    padding: 20px;
    margin-bottom: 20px;
}
 
.grid-responsive-container img{
    width: 150px;
    height: auto;
}