/* Float to align images*/

.float-container {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.float-container img {
     float: left;
     margin-right: 10px;
     width: 130px;
}